.main {

    position: relative;

}
.head{
	background-color: #313131;
	color: white;
	height: 50px;
	
}

.socialmedia {
    list-style-type: none;
    overflow: hidden;
    position: relative;
}
.socialmedia li a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    margin-right: 18px;
    float: right;
    margin-right: 21px;
    padding: 0px;
    margin-top: 4px;
}
.navbar{
	background-color: #111111;
	color: white;
	height: 49px;
	position: relative;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}

.navbar li {
    float: right;
    margin-right: 100px;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: red;
}
.logo {
    position: absolute;
    top: 0px;
    margin-left: 20px;
}
.billionday{
	background-color:  #313131;
	color: white;
	height: 23px;
	position: static;
}
.billionday h3 {
    color: white;
    margin: 0px;
    margin-left: 330px;
}
.billionday h4 {
    color: red;
    float: right;
  
    margin-right: 259px;
    position: relative;
    margin-top: -24px;
}
.banner img {
    width: 50%;
    margin: 0px;
    height: 418px;
    float: left;
}
.banner p {
    float: left;
    width: 50%;
    font-family: arial;
    font-size: 21px;
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
}
.banner button {
    background-color: red;
    float: right;
    padding: 3px;
    margin-right: 617px;
    width: 124px;
    height: 30px;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}
.feature{
	margin-top: 20px;
	clear: both;
	
	height: auto;
	width: 100%;
	margin-bottom: 20px;
}
.column1 {
    background-color: #f4e9e9;
    width: 28.33%;
    height: 439px;
    margin-bottom: 20px;
    position: relative;
    float: left;
    margin: 33px;
}
.about {
    background: red;
    height: 27px;
    color: white;
   
}
.about h3 {
    margin-left: 20px;
}
.about2 h3 {
    color: red;
    margin-top: 22px;
    text-align: center;
}
.column1 img {
    width: 276px;
    height: 236px;
    margin-left: 42px;
    border: 3px solid red;
}
.column1 h1 {
    color: black;
   margin-left: 57px;
   
}
.column1 h4 {
    color: red;
    text-align: center;
    font-size: 20px;
}
.spicaloffer{
	width: 100%;
	height: 468px;
	background-color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
}
.offers h1 {
    background-color: black;
    color: white;
    width: 22%;
    text-align: center;
}
.offers h2 {
    color: red;
    margin-left: 52px;
}
  .offers img {
    width: 272px;
    float: right;
    position: absolute;
    top: 1178px; 
    right: 570px;
    height: 185px;
}
.offers2 img {
    width: 272px;
    float: right;
    position: absolute;
    top: 1395px; 
    height: 185px;
}
.offers3 img {
    width: 272px;
    float: right;
    position: absolute;
    top: 1395px; 
    height: 185px;
    right: 132px;
}
.offers4 img {
    width: 272px;
    float: right;
    position: absolute;
    top: 1176px;
    height: 185px;
    right: 132px;
}
